<%- include('partials/_header', { title: "About News Score", description: "News Score is an experiment in using AI to remove the bias from news"}) %>

<div class="container max-w-4xl mx-auto p-0 my-8 lg:mt-20 gap-2 flex flex-col">
    <h1 class="text-xl lg:text-3xl text-amber-600 font-medium">About</h1>
    <div class="flex flex-col gap-4 text-lg lg:text-xl max-w-xl">
        <p>
            <strong>News Score</strong> is an experiment in using open-source AI to score the news, sort the news and rewrite the headlines—so you can just catch up on the days headlines without the usual onslaught of modern media.
        </p>

        <p>
            Everybody knows the problems with modern news—clickbait, sensationalism and bias.
        </p>

        <p>
            News Score attempts to solve these problems with a unique algorithm:
        <ul class="list-disc ml-5 lg:ml-10 flex flex-col gap-2">
            <li>Find the latest and greatest news from many sources</li>
            <li>Use AI to score the news based on headlines and content</li>
            <li>Use AI to rewrite the best news into headlines that are unbiased, fact-based and informative</li>
            <li>Open-source everything to increase trust and reduce bias</li>
        </ul>
        </p>

        <p>
            News Score isn't perfect, but aims to be better than everything else. Because it's open-source, it can get better and better and better.
            You can even customize it to create your own news feed.
        </p>
        <p class="mt-4">
            Scientia potentia est.
        </p>
        <p class="text-amber-500 italic font-semibold">
            —<a class="underline" href="https://themaximalist.com">The Maximalist</a>
        </p>
    </div>
</div>

<%- include('partials/_footer') %>