<%- include('partials/_header', { title: story.headline, description: story.description}) %>

<div class="container max-w-4xl mx-auto p-0 my-8 gap-2 flex flex-col">
    <div class="flex flex-col gap-4 text-lg lg:text-xl w-full">
        <%- include('partials/_story', { story }) %>
    </div>
</div>

<%- include('partials/_footer') %>