<%- include('partials/_header', { title: "Submit News", description: "Submit news to be included in News Score"}) %>
<div id="submit_news">
    <%- include('partials/_submit') %>
</div>
<%- include('partials/_footer') %>