    <div class="flex md:flex-row justify-between items-center container max-w-4xl mx-auto mt-20 flex-col-reverse">
        <div class="w-full font-medium bg-gradient-to-br from-amber-700 to-amber-200 text-transparent bg-clip-text">
            <div>&copy; <a href="/">News Score</a>&nbsp; <span class="text-xs">score the news, sort the news, rewrite the headlines</span></div>

        </div>
        <div class="w-full flex justify-start md:justify-end text-amber-600 gap-4">
            <a class="py-2" href="/leaderboard">Leaderboard</a>
            <a class="py-2" href="/submit">Submit</a>
            <a class="py-2" href="/about">About</a>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QXZF279615"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-QXZF279615');
    </script>
    <script>
        var script = document.createElement('script');
        script.defer = true;
        script.src = "https://s.cac.app/js/script.outbound-links.js";
        script.dataset.domain = "newsscore.com";

        document.getElementsByTagName('head')[0].appendChild(script);
    </script>
</body>

</html>