            <div class="flex md:flex-row justify-between items-center container max-w-4xl mx-auto mt-20 flex-col-reverse">
                <div class="w-full font-medium bg-gradient-to-br from-amber-700 to-amber-200 text-transparent bg-clip-text">
                    <div>&copy; <a href="/">News Score</a>&nbsp; <span class="text-xs">score the news, sort the news, rewrite the headlines</span></div>

                </div>
                <div class="w-full flex justify-start md:justify-end text-amber-600 gap-4">
                    <a class="py-2" href="/leaderboard">Leaderboard</a>
                    <a class="py-2" href="/submit">Submit</a>
                    <a class="py-2" href="/about">About</a>
                </div>
            </div>
            </div>
            <script src="https://unpkg.com/htmx.org@1.9.2"></script>
            </body>

            </html>